.title-container {
    padding: 20px 0 20px;

    display: grid;
    grid-template-columns: 1fr [design_]auto 1fr;

    .design {
        grid-column: design_;

        border-bottom: solid 4px hsl(200, 40%, 40%);

        display: grid;
        grid-template-columns: 50px [contents_]auto 50px;

        .contents {
            grid-column: contents_;

            padding: 0 10px;

            font-size: 36px;
            font-style: italic;
            letter-spacing: 4px;
            text-shadow: 2px 2px #eee;
        }
        
    }
}