@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');


$header-height: 60px;
$header-background-color: hsl(200, 23%, 23%);
$header-color: #eee;

header {
    height: $header-height;

    color: $header-color;

    display: grid;
    background-color: $header-background-color;
    grid-template-columns: [title_]auto 1fr [nav_]auto;
    
    .title {
        grid-column: title_;
        line-height: $header-height;
        
        padding-left: 75px;

        font-size: 20px;
        font-style: normal;
        text-shadow: none;
        letter-spacing: 5px;
    }
    nav {
        grid-column: nav_;

        & > * {
            line-height: $header-height;
        }
    }
}