.works-container {
    margin: 30px 60px;
    display: flex;
    flex-wrap: wrap;

    column-gap: 20px;
    row-gap: 30px;
    align-items: center;
    .item {
        border-radius: 20px;
        border: 2px solid black;
        // background-color: #c8c8c8;
        // background-color: #d8d8d8;
        background-color: #eee;
        box-shadow: 5px 5px #888;
        width: 500px;

        display: grid;
        grid-template-rows: [img_]auto 10px [sentence_]1fr;

        img {
            border-radius: 18px 18px 0 0;
            margin: 0 auto;
            grid-row: img_;
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .sentence-container {
            grid-row: sentence_;
            margin: 20px 30px;

            display: grid;
            grid-template-rows: 40px auto auto;
            grid-template-columns: 1fr auto;
            grid-template-areas: 
                "title_ date_"
                "description_ description_"
                "link_ link_"
            ;

            .title {
                line-height: 40px;
                grid-area: title_;
                text-align: start;
                font-size: 20px;
                letter-spacing: 2px;
            }

            .date {
                line-height: 40px;
                grid-area: date_;
                font-size: 14px;
                color: #666;
                text-align: center;
            }

            .description {
                font-size: 16px;
                height: 70px;
                grid-area: description_;
                overflow-y: hidden;
            }
    
            .link {
                margin-top: 10px;
                justify-self: end;
                grid-area: link_;
                border-radius: 5px;
                display: grid;
                grid-template-columns: [contents_]auto 1fr;
                
                a {
                    padding: 5px 10px;
                    background-color: #999c;
                    grid-column: contents_;
                    grid-row: contents_;
                    font-size: 18px;
                    color: #eee;
                    text-decoration: none;

                    &:hover {
                        background-color: #9998;
                    }
                }
            }
        }

    }
}