.works-container {
    margin: 30px 60px;
    display: flex;
    flex-wrap: wrap;

    column-gap: 20px;
    row-gap: 30px;
    align-items: center;
    .item {
        $item-card-radius: 20px;

        width: 500px;
        border: 2px solid black;

        background-color: #eee;
        border-radius: $item-card-radius;
        box-shadow: 5px 5px #888;

        display: grid;
        grid-template-rows: [img_]auto 10px [sentence_]1fr;

        img {
            $card-img-height: 200px;
            grid-row: img_;

            width: 100%;
            height: $card-img-height;
            margin: 0 auto;

            border-radius: $item-card-radius - 2px $item-card-radius - 2px 0 0;
            object-fit: cover;
        }

        .sentence-container {
            $title-date-height: 40px;
            $description-height: 70px;

            grid-row: sentence_;
            
            margin: 20px 30px;

            display: grid;
            grid-template-rows: $title-date-height $description-height auto;
            grid-template-columns: 1fr auto;
            grid-template-areas: 
                "title_ date_"
                "description_ description_"
                "link_ link_"
            ;

            .title {
                grid-area: title_;

                text-align: start;
                line-height: $title-date-height;

                font-size: 20px;
                letter-spacing: 2px;
            }

            .date {
                grid-area: date_;

                line-height: $title-date-height;
                text-align: center;

                color: #666;
                font-size: 14px;
            }

            .description {
                grid-area: description_;

                font-size: 16px;
                overflow-y: hidden;
            }
    
            .link {
                grid-area: link_;
                
                margin-top: 10px;
                justify-self: end;

                border-radius: 5px;

                display: grid;
                grid-template-columns: [contents_]auto 1fr;
                
                a {
                    grid-column: contents_;

                    padding: 5px 10px;

                    color: #eee;
                    background-color: #999c;
                    font-size: 18px;
                    text-decoration: none;

                    &:hover {
                        background-color: #9998;
                    }
                }
            }
        }

    }
}