* {
    margin: 0;
}

.app {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: [header_]auto [page_]1fr [footer_]auto;

    header {
        grid-row: header_;
    }

    main {
        grid-row: page_;
        background-color: #ddd;
    }

    footer {
        grid-row: footer_;
    }
}
