.app {
    width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-template-rows: [header_]auto [hero_]auto [contents_]1fr [footer_]auto;
}

.app .header {
    grid-row: header_;
}

.app .hero {
    grid-row: hero_;
}

.app .contents-container {
    grid-row: contents_;
    @apply bg-white opacity-80;
}

.app .footer {
    grid-row: footer_;
}