.app {
    width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-template-rows: [header_]auto [page_]1fr [footer_]auto;
}

.app .header {
    grid-row: header_;
}

.app .main {
    grid-row: page_;
    
    background-color: #ddd;
}

.app .footer {
    grid-row: footer_;
}